<footer class="site-footer">
  <div class="wrapper">
    <!-- disquss -->

    <!-- disquss -->

    <!-- Google Analitics -->

    <!-- Google Analitics -->

    <div align="center">
      {% if page.keywords %}
      <p>
        <strong>Tags:</strong> {{ page.keywords | strip_html | strip_newlines |
        truncate: 160 }} {% endif %}
      </p>
    </div>

    <h2 class="footer-heading" align="center">{{ site.title }}</h2>
    <p align="center">
      <strong>Современный javascript и javascript фреймворки</strong>
    </p>
    <p align="center">
      <strong>Группа в телеграм: jsdev_ru</strong>
    </p>
    <p align="center">
      <strong
        >Если кто-то захочет поучавствовать в добавлении материалов, исходные
        коды на
        <a href="https://github.com/webmakaka/jsdev.ru">github</a></strong
      >
    </p>
  </div>
</footer>
