<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="//labs.jsdev.org/web-developer-roadmap-2020/"
          >WebDev Roadmap</a
        >

        |

        <a class="page-link" href="/materials/">Материалы</a>

        |

        <a class="page-link" href="/books/">Книги</a>

        | Видеокурсы:

        <a class="page-link" href="{{ site.baseurl }}/courses/ru/">RUS</a>
        <a class="page-link" href="{{ site.baseurl }}/courses/en/">ENG</a>

        |

        <a class="page-link" href="{{ site.baseurl }}/codes/"
          >Примеры приложений</a
        >
        |

        <a class="page-link" href="/devops/">DevOps</a>

        |

        <a class="page-link" href="{{ site.baseurl }}/schools/rs-school/"
          >Online Школа</a
        >

        |

        <a class="page-link" href="{{ site.baseurl }}/chat/">Чат</a>
      </div>
    </nav>
  </div>
</header>
